.dropbtn {
    display: none;
    position: absolute;
    height: 10vh;
    width: 10vh;
    right: 0;
    background-color: #2e6464;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: larger;
    text-align: center;
    line-height: 5vh;
}
  

.dropbtn:hover{
    background-color: #387b7b;
}


.hidden {
    display: none;
}

.dropdown{
    background-color: rgb(184, 193, 193);
    position: absolute;
    right: 0;
    top: 10vh;
    height: 10vh;
    width: 40vw;
}

.btn-d {
    height: 50%;
    width: 100%;
    font-size: largeR;
    text-align: center;

    border: 1px solid #182b2b;
}

.btn-d:hover {
    background-color: #479e9e;
}


@media screen and (max-width: 616px){
    .dropbtn {
        display: block;
    }
}
