.editor {
    width: auto;
    display: flex;
    margin-top: 5vh;
    flex-direction: row;
    justify-content: center;
}


.toolbar {
    max-width: 98vw;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.meme{
    max-width: 98vw;
}


@media screen and (max-width: 1024px) {
    .editor {
        flex-direction: column;
        align-items: center;
    }

}