.editor {
    width: auto;
    display: flex;
    margin-top: 5vh;
    flex-direction: row;
    justify-content: center;
}


.toolbar {
    max-width: 98vw;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.meme{
    max-width: 98vw;
}

.btn {
    height: 50px;
    width: 50px;
}

.btn img {
    max-width: 35px;
    max-height: 35px;
    object-fit: cover;
}

.download {
    background-color: rgb(217, 213, 241);
    height: 50px;
    width: 50px;
    border: 1px solid royalblue;
    border-radius: 5px;
}

.download img {
    max-width: 52px;
    max-height: 52px;
    object-fit: cover;
}

.colorpicker {
    height: 50px;
    width: 50px;
}



@media screen and (max-width: 1024px) {
    .editor {
        flex-direction: column;
        align-items: center;
    }

}