.editor {
    width: auto;
    display: flex;
    margin-top: 5vh;
    flex-direction: row;
    justify-content: center;
}


.toolbar {
    max-width: 98vw;
    width: 300px;
    margin-left: 100px;
    height: 500px;
    border: 1px solid rgb(224, 224, 224);
    display: flex;
    flex-wrap: wrap;
}

