.image-container {

    box-sizing: border-box;
    padding: 20px;


    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.image-container img {
    max-width: 350px;
    max-height: 350px;
    margin: 5px;

    object-fit: cover;
}

.optdelete {
    position: absolute;
}


.filter-input {
    height: 50px;
    font-size: larger;
}
