.image-container {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 350px;
    --col-height: 350px;



    box-sizing: border-box;
    padding: 20px;


    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.image-container img {
    max-width: 350px;
    max-height: 350px;
    margin: 5px;

    object-fit: cover;
}
