header {
    width: auto;
    height: 10vh;
    background-color: #2e6464;
    display: flex;
    align-content: space-around;
    font-size: x-large;
}

.logo {
    margin: 2vh;
}

.logo img {
    max-width: 200px;
    max-height: 8vh;
    object-fit: cover;
}

.nav {
    user-select: none;
    width: auto;
    font-size: large;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    height: 10vh;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}

.to-saved {
    margin: 1vh;

}

.to-gallery {
    margin: 1vh;

}


.selected {
    color: #e2e2e2;
    border-bottom: 1px solid black;
}

@media screen and (max-width: 616px) {
    .to-saved {
        display: none;
    }
    
    .to-gallery {
       display: none;
    }
}