*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(225, 238, 250);
    min-height: 100%;


    /* /experimental */

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}